<div class="loginwarper">
  <mat-card class="formwarper">
    <mat-card-content>
      <form (ngsubmit)="onlogin()" name="loginForm" [formGroup]="loginForm">
        <h3>Login</h3>
        <div class="form-group">
          <mat-form-field class="full-width" appearance="fill">
            <input
              formControlName="email"
              matInput
              required
              placeholder="Enter Email"
            />
            <mat-error *ngIf="!loginForm.controls['email'].valid">
              Invalid Email
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width" appearance="fill">
            <input
              formControlName="password"
              placeholder="Password"
              type="password"
              matInput
            />
            <mat-error *ngIf="!loginForm.controls['password'].valid">
              only 8 - 16 characters and only alphanumeric
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button>Log In</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
